.name-box {
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.portfolio .callout {
    height: 530px;
}

li {
    list-style:none;
}
header {
    background: url('../img/bg.jpg') no-repeat;
//    background-size: 100%;
    background-position: 100% 100%;
    min-height: 100vh;
    object-fit: fill;
}

#sidebar-wrapper, ul.menu.align-left {
    background-color: transparent;
}

.portfolio {
    padding: 50px 0;
    background-color: whitesmoke;

    .callout {
        box-shadow: 0px 0px 1px 1px #cbcbcb;
        transition: box-shadow 0.2s;
        border: none;
    }
    .callout:hover {
        box-shadow: 0px 0px 10px 1px #cbcbcb;

    }
}
.chatbot {
    padding: 50px 0;
}

.chatbot {
//    background-color: whitesmoke;

    h2 {
        padding: 20px;
    }

    .icones {
        margin: 75px auto 35px;

        ul li img:before {
            background-color: #FFF;
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
        }
    }

    ul li {
        text-align: center;
    }

    .row:last-child {
        text-align: center;

        a {
            margin: 50px;
        }
    }
}

footer p {
    margin-top: 20px;
}
